/* GENERAL */

.item-section, .price-and-remove, .summary-product-info, .cart-container, .order-summary-sidebar, .shipping-method-with-date, .cart-with-order-summary, .summary-availability, .summary-product-listing-full, .order-summary-subtotal, .cart-top-bar, .summary-price, .summary-quantity, .order-summary-total, .order-summary-quantity-and-price, .shipping-method-container, .shipping-method-choice, .billing-address-line, .edit-button, .order-summary-title-and-edit, .payment-method, .payment-box, .copyright {
    display: -ms-flex
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}

.price-and-remove, .summary-product-info, .cart-container, .order-summary-sidebar, .shipping-method-with-date {

    flex-flow: column wrap;
}

.cart-with-order-summary, .summary-availability, .order-summary-subtotal, .cart-top-bar, .summary-price, .summary-quantity, .order-summary-total, .order-summary-quantity-and-price, .shipping-method-container, .shipping-method-choice, .billing-address-line, .edit-button, .order-summary-title-and-edit, .payment-method, .payment-box, .copyright {
    
    flex-flow: row wrap;
}

.price-and-remove {
    flex: 1 1 auto;
}

.summary-price {
    justify-content: flex-end;
}

.top-bar-longer {
    flex: 4 1 auto;
}

.top-bar-reg {
    text-align: right;
    flex: 1 1 auto;
}

.cart-top-bar {
    justify-content: space-between;
    padding: 0.75em 1.5em;
}

.order-summary-title-and-edit {
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.cart-with-order-summary {
    margin: 2rem 4em;
}

.order-summary-sidebar {
    flex: 1 1 auto;
}

.order-summary-sidebar {
    
}

.order-summary-subtotal, .order-summary-total {
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.order-summary-total {
    margin: -1em 0;
}

.order-summary-all {
    padding: 1em 0;
}

.summary-price, .summary-quantity, summary-product-info {
    flex: 1 1 auto;
}

.cta {
    width: 100%;
    margin-top: 2em;
}

.order-summary-quantity-and-price, .shipping-method-container, .payment-box {
    justify-content: space-between;
}

.payment-box {
    align-items: center;
}

.payment-method {
   align-items: center;
}

.payment-icon {
    margin-left: 1em;
}

.summary-product-listing-full {
    margin: 1.5em 0;
}

/* MEDIA QUERIES*/

/* mobile */

@media screen and (max-width:710px) {
    
    .summary-product-listing-full, .item-section, .cart-container {
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        align-self: center;
    }
    
    .summary-price-label, h2.cart-header {
        text-align: center;
    }

    .payment-method-choices, .billing-address-line {
        align-self: center;
    }
    
    hr.order-summary-hr, .order-info, .cart-container {
        width: 100%;
    }
    
    .summary-price {
        margin: 0;
    }
    
    .summary-product-image {
        width: 250px;
        height: 250px;
    }
    
}

/* tablet */

@media screen and (max-width:767px) {
    
    
    
}

/* desktop */

@media screen and (min-width:768px) {
    
    
    
}

/* tablet and desktop */

@media screen and (min-width:711px) {
    
    .item-section {
        flex-flow: row wrap;
        flex: 3 1 auto;
    }
    
    .summary-product-listing-full {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .cart-container {
        flex: 2 1 auto;
        margin-right: 2rem;
    }
    
    .summary-product-image {
        margin-right: 2em;
    }
    
    .summary-price, .remove-button {
        margin-right: 18px;
    }
    
}