/* GENERAL */

.cart-with-order-summary {
    margin-bottom: 4em;
}   

/* TEXT STYLING */

h2.cart-header {
    font-family: "Acumin Pro Light", "Akzidenz-Grotesk BQ Light", Helvetica, Arial, sans-serif;
    margin: 1em 0;
    font-size: 1.5em;
}

h3.order-summary-small-title {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

em {
    font-style: normal;
    font-weight: bold;
}

.summary-price, .summary-quantity, .summary-product-title {
    font-size: 1.4em;
    font-weight: 100;
}

.summary-quantity {
    text-align: center;
    justify-content: flex-end;
}

.order-summary-total {
    font-size: 1.2em;
    font-weight: bold;
}


.summary-product-title {
    margin: 0;
}

.summary-actions p {
    padding: 0 0.5em;
}

.summary-weight-gramms {
    font-size: 1.5em;
}

.estimated-delivery {
    color: rgb(180,218,220);
    font-size: 0.9em;
}

.copyright {
    justify-content: center;
    font-size: 0.9em;
    padding: 0.5em;
    width: 100%;
}


/* INTERACTIVE ELEMENT STYLING */

button {
    border: 0px transparent;
}

.remove-button {
    font-size: 0.9em;
    text-align: right;
    background-color: transparent;
    color: red;
    padding: 0;
    text-decoration: underline;
}

.remove-button:hover {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.cta {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(78,128,136);
    margin: 2em 0;
    padding: 1em;
}

.cta:hover {
    color: black;
    background-color: rgb(180,218,220);
}

.paypal-button {
    background-color: #003087;
}

#first-radio-option {
    margin-right: 1em;
}

/* DIVIDERS */

.cart-top-bar {
    background-color: rgb(78,128,136);
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

/*.price-label, .availability, .summary-availability .space-above {
    margin-top: 1em;
}

.weight-input {
    max-width: 20ch;
}*/

.ratings, .summary-ratings {
    align-items: flex-end;
}

.availability, .summary-availability {
    align-items: baseline;
}

.availability a, .ratings a, .summary-ratings a, .summary-availability a {
    margin-left: 0.3em;
}

.order-summary-hr {
    border: 1px solid rgb(180,218,220);
    padding: 0;
    margin: 0;
}

.cart-actions {
    padding: 0;
    margin: 0;
}

.shipping-method-container, .payment-method-choices {
    margin-top: 2em;
    cursor: pointer;
}

#shipping-method-standard, #paypal-method, #credit-card-method, #billing-address {
    height: 1em;
    width: 1em;
    padding: 0;
    margin-right: 1em;
    min-width: 0;
}

.billing-address-line {
    margin-bottom: 1em;
}

input[type=radio]:checked {
    background-color: rgb(78,128,136);
    border: 5px solid black;
}

.shipping-method-with-date label {
    padding: 0;
}

.edit {
    color: rgb(78,128,136);
    font-size: 1.2em;
    padding: 0;
    background-color: transparent;
    margin: 0;
}

.edit:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.order-summary-title-and-edit {
    margin-top: 2em;
}

.address-box, .payment-box {
    border: 1px solid black;
    padding: 1em;
    margin: 1em 0;
}

/* MEDIA QUERIES*/

/* mobile */

@media screen and (max-width:710px) {
    
    .cart-top-bar {
        display: none;
    }
    
}

/* tablet */

@media screen and (max-width:767px) {
    
    
    
}

/* desktop */

@media screen and (min-width:768px) {
    
   /* label {
        margin-right: 4em;
    }*/
    
}

