/* NAVIGATION CSS */

.nav-items {
  background-color: rgb(180,218,220);
  height:80px;
  position:sticky;
  top:0;
}

.right-nav-items{
  display:flex;
  flex-grow:1;
  justify-content:flex-end;
  margin-right:1rem;
}

.center-align{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}

a.nav-left-link {
  text-decoration:none;
  font-weight:600;
  color:rgb(0,0,0);
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;

}

a.nav-left-link:hover{
  color:rgb(78,128,136);
}

.nav-icon{
  display:flex;
}

a.nav-right-link {
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;
  text-align:right;
}

a.nav-right-link:hover{
  border-bottom:2px solid rgb(78,128,136);
}

.search-bar{
  display:flex;
  padding-left:1rem;
}

.search-text{
  font-size:0.8rem;
  padding:0.8rem;
  border:none;
  border-radius:15px 0px 0px 15px;

}

.search-button{
  padding:0.35rem;
  border:none;
  background-color:rgb(255,255,255);
  transition:0.5s;
  border-radius:0px 15px 15px 0px;
}

.search-button:hover{
  background-color:rgb(78,128,136);
}

/* NAVIGATION CSS */

/*BANNER CSS */

.banner-img{
  width:100%;
  min-height: 150px;
  background-color:rgb(78,128,136);
}

/*BANNER CSS */

/* CONTACT FORM */

.m-element {
   margin-top: 1em;
   margin-left: 4em;
   margin-right:4em;
}

h2 {
  margin-top:2rem;
  font-size:2.75rem;
}

input.form-input, textarea.form-input {
  margin-right:1rem;
  min-width: 10ch;
  padding: 1em;
  border: 1px solid rgb(180,218,220);
  border-radius: 0px;
}

a.save-button {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    background-color: rgb(78,128,136);
    transition: 0.5s;
    margin-left: 0rem;
    color:white;
    text-decoration: none;
}

a.save-button:hover, a.save-button:active {
  background-color: rgb(180,218,220);
    color: black;
}

@media screen and (max-width:48rem) {

.m-element{
  margin-left:2rem;
  margin-right:1rem;
}

input.form-input{
  margin-right:1rem;
}

button.save-button {
padding-top:0.5rem;
padding-bottom:0.5rem;
margin-left:-1rem;
padding-left:9.2rem;
padding-right:9.2rem;

}


}

/* CONTACT FORM */


/* FAQ */

.faq-a {
    max-width: 65ch;
    line-height: 1.4em;
}

/* FOOTER CSS */

footer {
  width:100%;
  background-color:rgb(237,242,242);
  bottom:0;
  padding:2rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.footer-link:hover {
    color: rgb(78,128,136);
}


/* FOOTER CSS */

.copyright {
    justify-content: center;
    font-size: 0.9em;
    padding: 0.5em;
    width: 100%;
}
