*, *::after, *::before {
    box-sizing: border-box;
}

/* NAVIGATION + PROMOTION CSS */
.nav-items, .footer-menus {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
}

.right-nav-items{
  flex:1 1 0;
}

/* NAVIGATION + PROMOTION CSS */

/* SHIPPING FORM CSS */

@media(min-width:426px) {
    
    .contact-us-form {
        padding: 1rem 3rem;
        margin-bottom: 1em;
    }
}



label{
  align-self:flex-start
}

 .shipping-form-col-2 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}

.label-and-field {
    margin-top: 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
}

.save-button {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 1rem;
}

@media screen and (max-width:48rem) {

    .save-button{
      justify-content:flex-start;
        margin: 0;
        padding: 1em 0;
    }

}

/* SHIPPING FORM CSS */

/* FAQ SECTION CSS */

.faq-section {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    
    align-content: center;
    margin-bottom: 4em;
}

/* FOOTER CSS */

.footer-link-group{
  flex:1 1 0;
    margin-left: 2em;
}

.footer-link-group h5 {
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
}

/* FOOTER CSS */

.copyright {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}
