*, *::after, *::before {
    box-sizing: border-box;
}

/* NAVIGATION + PROMOTION CSS */
.nav-items, .footer-menus, .product-full-listing, .ratings{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
}

.right-nav-items{
  flex:1 1 0;
}

/* NAVIGATION + PROMOTION CSS */

/* DETAILED PRODUCT LISTING CSS */

.product-main-img{
  display: flex;
  flex: 40% 60% 0;
}

.ratings {
  flex:1 1 0;
}

.price-label {
    margin-top: 1em;
}

.choose-weight {

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;

    align-items:center;
}

/* DETAILED PRODUCT LISTING CSS */

/* RE.VIEW FORM CSS */

.m-element {
    flex: 1 1 auto;
    padding:1rem;
    margin-bottom: 1em;
}

label{
  align-self:flex-start
}

 .shipping-form-col-2 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}



.label-and-field {
    margin-top: 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
}

.star-field{
  margin-top: 1em;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
}

.save-button {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 2rem;
    padding: 1rem;
}

/* RE.VIEW CSS */



/* SIMILAR PRODUCT CAROUSEL CSS */

.similar-items-carousel{

      display: -ms-flex;
      display: -webkit-flex;
      display: flex;

      flex-flow: row wrap;
      flex-wrap: -ms-flex;
      flex-wrap: -webkit-flex;

}

 .product-label-box {
    align-items: center;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}
}

.product-listing {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    align-items: center;
}

h3{
}
/* SIMILAR PRODUCT CAROUSEL CSS */


/* FOOTER CSS */

.footer-link-group{
  flex:1 1 0;
  margin-left: 2em;
  min-width:10rem;
}

  /* MAP CODE FROM https://www.embedgooglemap.net/en/?gclid=Cj0KCQjwoub3BRC6ARIsABGhnybub3e9vb6E3otZ0PO2aRUZdWCR96_L8D4HjCItrQsMlXWD8PclpjoaAvHnEALw_wcB */

.mapouter {
  display:flex;
  text-align: right;
  height: 231px;
  width: 318px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 231px;
  width: 318px;
}

/* MAP CODE FROM https://www.embedgooglemap.net/en/?gclid=Cj0KCQjwoub3BRC6ARIsABGhnybub3e9vb6E3otZ0PO2aRUZdWCR96_L8D4HjCItrQsMlXWD8PclpjoaAvHnEALw_wcB */


.footer-link-group h5 {
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
}

@media screen and (max-width:48rem) {


  .footer-link-group{
    flex:2 1 0;
      margin-left: 1em;
  }



  }


/* FOOTER CSS */
