/* NAVIGATION CSS */

.nav-items {
  background-color: rgb(180,218,220);
  height:80px;
  position:sticky;
  top:0;
}

.right-nav-items{
  display:flex;
  flex-grow:1;
  justify-content:flex-end;
  margin-right:1rem;
}

.center-align{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}

a.nav-left-link {
  text-decoration:none;
  font-weight:600;
  color:rgb(0,0,0);
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;

}

a.nav-left-link:hover{
  color:rgb(78,128,136);
}

.nav-icon{
  display:flex;
}

a.nav-right-link {
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;
  text-align:right;
}

a.nav-right-link:hover{
  border-bottom:2px solid rgb(78,128,136);
}

.search-bar{
  display:flex;
  padding-left:1rem;
}

.search-text{
  font-size:0.8rem;
  padding:0.8rem;
  border:none;
  border-radius:15px 0px 0px 15px;

}

.search-button{
  padding:0.35rem;
  border:none;
  background-color:rgb(255,255,255);
  transition:0.5s;
  border-radius:0px 15px 15px 0px;
}

.search-button:hover{
  background-color:rgb(78,128,136);
}

/* NAVIGATION CSS */

/*BANNER CSS */

.banner-img{
  width:100%;
  min-height: 150px;
  background-color:rgb(78,128,136);
}

/*BANNER CSS */

/* DETAILED PRODUCT LISTING CSS */

.product-full-listing{
  padding-top:3rem;
  padding-left:3rem;
  padding-right:3rem;

}

.product-info{
  margin-top:1rem;
  margin-left:2rem;
}

.product-title {
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 1.8em;
    color: black;
}

.availability {
    margin-top: -0.5em;
}

.price {
    font-size: 1.4em;
    margin: 0.3em 0 0;
    text-align: center;
}

.weight-form, .add-to-cart {
    max-width: 20ch;
}

.cta {
  border:none;
  padding:0.8rem;

  width:14rem;
  margin-bottom:1.5rem;
  transition:0.5s;
  background-color: rgb(180,218,220);
  font-weight:bolder;

}

.cta:hover{
  background-color:rgb(78,128,136);
}

.weight-input {
    max-width: 20ch;
    padding:0.5rem;
}

.weight-gramms {
    margin-left: 0.5em;
    font-size: 1.5em;
}

.product-hr {
    border: 1px solid black;
    max-width: 140ch;
    margin-left:3rem;
    margin-bottom:3rem;
    margin-top:3rem;

}

.space-above {
    font-size:1.1rem;
    margin-top: 1em;
    margin-left:3rem;
    max-width:50rem;
}

a.product-in-text-link {
    display:flex;
    color: rgb(78,128,136);
    text-decoration: none;
    margin-top:0.1rem;
    margin-left:0.5rem;
}

a.product-in-text-link:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}

a.text-link {
    color: rgb(78,128,136);
    text-decoration: none;
}

a.text-link:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}

.star-rating {
  display:flex;
  width: 7em;
  align-self: center;
}

.caffine-levels{
  margin-top:-0.9rem;

}

.choose-weight{
  margin-top:-1rem;
}

h3{
  margin-left:3rem;
}

.special-offer{
  background-color:rgb(244,229,215);
  padding:1rem;
  margin-right:7rem;
  margin-top:1rem;
  margin-left:3rem;
  max-width:40rem;
  text-align:center;
}

@media screen and (max-width:48rem) {

  .product-info{
    margin-left:3.5rem;
    text-align: center;
  }

  .ratings{
    margin-left:1rem;
  }
    .choose-weight{
      margin-left:1.2rem;
    }

    .product-hr{
      margin-right:5rem;
    }

    .space-above{
      margin-right:3rem;
    }

    .special-offer{
      max-width:22rem;
      text-align:center;
    }

  }

/* DETAILED PRODUCT LISTING CSS */

/* SIMILAR PRODUCT CAROUSEL CSS */

.similar-items{
  background-color:rgb(224,236,236);
}

.similar-items-carousel {
    justify-content: space-around;
    padding: 1em 5em;
    width: 100%;
}

.product-listing {
    margin: 1em;
    align-items: center;
    align-content: flex-start;
}

/* SIMILAR PRODUCT CAROUSEL CSS */

/* RE.VIEW FORM */

.m-element {
   margin-top: 1em;
   margin-left: 2em;
   margin-right:4em;
}

h2 {
  margin-top:2rem;

  font-size:3rem;
}

input.form-input {
  margin-right:1rem;
  min-width: 40ch;
  padding: 1.1em;
  border: 1px solid rgb(180,218,220);
  border-radius: 0px;
}


 textarea {
   min-width: 20ch;
   padding: 1.1em;
   border: 1px solid rgb(180,218,220);
   border-radius: 0px;
  min-width: 20ch;
  padding: 1em;
  border: 1px solid rgb(180,218,220);
  border-radius: 0px;
}

select{
  min-width: 40ch;
  padding: 1em;
  border: 1px solid rgb(180,218,220);
  border-radius: 0px;
}


button.save-button {
      padding: 0.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border: none;
      background-color: rgb(78,128,136);
      transition: 0.5s;
      margin-left: 0rem;
      color:white;
}

button.save-button:hover, button.save-button:active{
  background-color:rgb(229,197,168);
}

/* RE.VIEW FORM */

/* RE.VIEW CSS */
p.reviewer-name-rating{
  display:block;
  text-align:left;
  font-weight:bold;
  font-size:1.3rem;
  margin-bottom:0.5rem;
}


p.review-content {

  text-align:left;

}

div.review-tile{
  margin-top:2rem;
  padding-left:2rem;
  max-width:60rem;
  margin-left:1rem;

}

span.divider {
  color: rgb(212,1,62);
}

span.post-date{
  font-weight:lighter;
  font-size:0.9rem;
  float: right;
}

@media screen and (max-width:48rem) {

  .review-tile{
  margin-right:4rem;
  }

  input.form-input{
    margin-right:0rem;
  }

  .save-button{
   margin-right:-0.5rem;
  }

}
/* RE.VIEW CSS */


/* FOOTER CSS */

footer {
  width:100%;
  background-color:rgb(237,242,242);
  bottom:0;
  padding:2rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.footer-link:hover {
    color: rgb(78,128,136);
}


/* FOOTER CSS */
