*, *::after, *::before {
    box-sizing: border-box;
}

/* NAVIGATION CSS */
.nav-items, .promotion-container, .footer-menus, .center-align, .search-bar-and-button, .left-nav-items, .right-nav-items {
  display: -webkit-flex;
  display: flex;

  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
}

.promotion-container, .footer-menus, .search-bar-and-button {
    flex-flow: row wrap;
}
    
.nav-right-link {
    flex: 1 1 10%;
    max-width: 70px;
}

.search-bar-and-button {
    max-width: 230px;
    margin: 0;
}

.left-nav-items {
    align-items: center;
}

/* NAV MENU MEDIA QUERIES*/

/* mobile */

@media screen and (max-width:425px) {
    
    .nav-items, .center-align, .right-nav-items, .left-nav-items, .right-nav-items {
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }
    
    .nav-left-link, .nav-right-link, .search-bar-and-button {
        flex: 1 1 auto;
        align-self: center;
        margin: 1em 0;
    }
    
}

@media screen and (min-width:426px) and (max-width:767px) {
    
    .center-align {
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .nav-left-link, .nav-right-link, .search-bar-and-button {
        flex: 1 1 auto;
        align-self: center;
        margin: 1em 0;
    }
    
    .right-nav-items {
        width: 100%;
        margin: 0;
        flex-flow: row wrap;
        justify-content: center;
    }
    
}

/* tablet */

@media screen and (min-width:710px) {
    
    .right-nav-items, .search-bar-and-button {
        flex-flow: row wrap;
        justify-self: flex-end;
    }
    
    .right-nav-items {
        flex: 1 1 auto;
        margin: 0;
        max-width: 290px;
        margin-right: 1rem;
    }
    
    .center-align {
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    
}

/* desktop */

@media screen and (min-width:768px) {
    
    .right-nav-items, .search-bar-and-button {
        flex-flow: row wrap;
        justify-content: flex-end;
    }
      
}

/* tablet and desktop */

@media screen and (min-width:711px) {
    
    .nav-items, .center-align {
        flex-flow: row wrap;
    }
    
}

.left-nav-items .right-nav-items, .promotion-items{
  flex: 1 1 0;
}



/* NAVIGATION CSS */
.right-nav-items, .promotion-items{
  flex: 1 1 0;
}

/* NAVIGATION + PROMOTION CSS */

.footer-link-group{
  flex:1 1 0;
    margin-left: 2em;
}

.footer-link-group h5 {
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
}

.copyright {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}