/* This styling was created by Kristina Gorobets and Michelle Swolfs for IAT 339 Project 1, using a tutorial by Paul Brokenshire and CSS Tricks */

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    /* padding: 1em; */
}

.nav-menu, .page-title, .logo, .subtitle, code, .swatches, .main-menu, .addon-menu, .wireframe-image, .code-and-element, .ratings, .availability, .nav-item-with-img, .top-menu-strip, .search-bar, .search-bar-in-menu, .top-banner-promo, .dropdown, #main-menu, .product-listing-full, .clear-button, .icon-separator, .order-history-container, .order-details, .order-history-order-total, .interactive-section, .text-section, .modular-section, .wireframe-image, .footer-menus, .banner-container, .product-listing-full-width, .similar-items-carousel, .nav-item-with-img-2, .copyright {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}

.code, .interactive-section, .text-section, .modular-section, .interactive-element, .element, .color-swatch, .product-info, .top-banner-with-main-menu, .dropdown-col, .links-list, .list-menu, .thank-you-container, .similar-items {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-flow: column wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}

/*
.product-full-listing {
    margin-left: 2em;
}
*/

.nav-item-with-img-2 {
    align-items: center;
}

.nav-item-with-img-2 a {
    margin: 0;
}
.nav-item-with-img-2 img {
    padding: 0;
}

/*.product-listing-full-width {
    margin: 1em 4em;
}*/

.footer-menus {
    align-items: flex-start;
    align-content: flex-start;
}

.order-history-container {
    width: 100%;
}


.icon-separator {
    align-items: center;
    margin: 1em 0;
    padding: 0;
}

.icon-separator h3 {
    padding: 0;
    margin: 0;
}

.similar-items-carousel {
    background-color: #f9f9f9;
    justify-content: space-around;
    padding: 1em 5em;
    width: 100%;
}

.similar-items {
    align-items: center;
    margin-top: 4em;
}

.similar-items h3 {
    font-size: 1.5em;
}

.order-history-order-total {
    padding: 1em;
}

.order-options {
    margin: 0.5em 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.order-options-track {
    margin: 0.5em 0;
    background-color: rgb(78,128,136);
    color: white;
    border: 1px solid transparent;
}

.order-options:hover, .order-options-track:hover {
    background-color: rgb(180,218,220);
    border: 1px solid transparent;
    color: black;
}

.order-history-order-total {
    align-self: flex-end;
}

.order-top-bar-basic-details {
    line-height: 2em;
}

.order-top-bar-basic-details h3 {
    margin: 0;
}

.order-history-list {
    flex: 4 1 auto;
}

.order-number {
    background-color: rgb(78,128,136);
    padding: 0 1em;
    color: white;
}

.order-top-info-bar {
    background-color: #f9f9f9;
    display: flex;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}

.items-list {
    flex: 3 1 auto;
}

.actions-list {
    flex: 1 1 auto;
}

.order-box {
    flex: 4 1 100%;
    display: flex;
    margin: 1em;
}

.account-side-menu {
    flex: 1 1 20%;
    padding: 1em;
    line-height: 2em;
}

.account-side-menu a {
    text-decoration: none;
    background-color: rgb(180,218,220);
    color: black;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.account-side-menu a:hover {
    background-color: rgb(78,128,136);
    color: white;
}

.shipping-name {
    font-weight: bold;
}

.order-summary {
    background-color: #f9f9f9;
    padding: 2em;
    padding-top: 1em;
    margin-bottom: 1em;
}

em {
    font-style: normal;
    font-weight: bold;
}

.header-p {
    max-width: 24ch;
    font-size: 2em;
    line-height: 1.3em;
}

/*.search-bar, .search-bar-in-menu {
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid aliceblue;
    border-radius: 40px;
    padding: 1em;
}*/

/*.search-button img {
    flex: 1 1 auto;
    height: 26px;
    margin-right: 1em;
}*/

/*
.search-text {
    flex: 8 1 auto;
    border: none;
    background-color: none;
    outline: none;
    padding: 0;
    font-size: 0.9em;
}
*/

/*input.search-text:active, input.search-text:focus {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 0;
    font-size: 0.9em;
}*/

.top-banner-promo {
    background-color: rgb(235, 208, 184);
    margin: -1em;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.top-menu-strip {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-item-with-img a {
    padding: 0.5em 1em 0.5em 0.2em;
}

.choose-weight {

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;

    align-items:center;
}

.weight-form, .add-to-cart {
    max-width: 20ch;
}

.weight-gramms {
    margin-left: 0.5em;
    font-size: 1.5em;
}

.summary-weight-gramms {
    font-size: 1.5em;
}

.weight-input {
    max-width: 20ch;
}

.ratings, .summary-ratings {
    align-items: flex-end;
}

.availability, .summary-availability {
    align-items: baseline;
}

.availability a, .ratings a, .summary-ratings a, .summary-availability a {
    margin-left: 0.3em;
}

.element, .m-element {
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: 1em;
}

@media (min-width: 1059px) {
    .middle-child {
        margin: 0 1em 1em;
    }
}

@media (max-width: 982px) and (min-width: 440px) {
    .middle-child {
        margin-left: 1em;
    }
}

.swatches {
    width: 100%;
}

.subhead-override {
    margin: 0;
    padding: 1em;
}

.color-swatch {
    margin: 0 0.5em;
    flex: 1 1 auto;
    margin-bottom: 1em;
}

element-child {
    align-self: center;
}

.wireframe-image {
    justify-content: center;
}

.search-bar-in-menu {
    align-self: flex-end;
}

.page-title, .logo, code {
    justify-content: space-around;
}

.subtitle {
    justify-content: flex-start;
    margin-left: 1em;
}

.swatches {
    justify-content: flex-start;
}

.weight-form, .add-to-cart {
    max-width: 20ch;
}

.weight-gramms {
    margin-left: 0.5em;
    font-size: 1.5em;
}

.summary-weight-gramms {
    font-size: 1.5em;
}

.weight-input {
    max-width: 20ch;
}

.ratings, .summary-ratings {
    align-items: flex-end;
}

.availability, .summary-availability {
    align-items: baseline;
}

.availability a, .ratings a, .summary-ratings a, .summary-availability a {
    margin-left: 0.3em;
}

.product-full-listing, .summary-product-full-listing {
    flex: 3 1 auto;
    margin-left: 3em;
}

.element, .m-element {
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: 1em;
}

@media (min-width: 1059px) {
    .middle-child {
        margin: 0 1em 1em;
    }
}

@media (max-width: 982px) and (min-width: 440px) {
    .middle-child {
        margin-left: 1em;
    }
}

.swatches {
    width: 100%;
}

.subhead-override {
    margin: 0;
    padding: 1em;
}

.color-swatch {
    margin: 0 0.5em;
    flex: 1 1 auto;
    margin-bottom: 1em;
}

element-child {
    align-self: center;
}

.wireframe-image {
    justify-content: center;
}

.addon-menu {
    align-items: center;
    flex-flow: row wrap;

}

.main-menu-box, .body-box {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}

.body-box {
    justify-content: space-between;
}

.top-bar-box {
    background-color: rgb(235,208,184);
    width: 100%;
    height: 8em;
}

#main-menu {
    margin-bottom: 5em;
}

.main-menu-box {
    justify-content: center;
    margin: 1em 0;
    padding: 0 5em;
}

.menu-item-box {
    background-color: rgb(180,218,220);
    align-self: center;
}

.menu-item-box2 {
    background-color: rgb(78,128,136);
}


.menu-item-box, .menu-item-box2 {
    flex: 1 5 6em;
    width: 6em;
    height: 2em;
}

/*.product-listing {
    margin: 1em;
    flex: 1 1 auto;
}

.product-label-box a {
    font-size: 1.3em;
    text-align: center;
}*/

.nav-item, .nav-item-addon {
    padding: 0.5em 1em;
}

.interactive-section, .text-section, .modular-section {
    margin: auto 2em;
}

.interactive-element, .text-element, .module {
    flex: 1 2 100%;
}

.module-full-width {
    width: 100%;
}

code {
    justify-content: flex-start;
    flex: 1 1 auto;
}

.summary-star-rating {
    width: 7em;
    align-self: center;
}

.circle {
    flex-flow: row wrap;
    margin: 0 1em;
}

form {
    margin: 1em 0;

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
}

label {
    align-self: flex-start;
    padding-bottom: 0.5em;
}

.label-and-field {
    margin-top: 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
}

.save-button {
     display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
}

.save-button {
    align-self: flex-end;
}

.save-button {
     display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
}


.wireflow {
    max-width: 100%;
}

@media (max-width:430px) {

    .nav-menu {
        text-align: center;
    }

    .nav-item {
        flex: 1 5 100%;
        align-content:  center;
    }
}

@media (max-width: 719px) {

    .menu-item-box, .menu-item-box2 {
        flex: 5 5 100%;
        width: 6em;
        height: 2em;
    }
}

footer {
  width: 100%;
  background-color:rgb(237,242,242);
  padding: 2em;
}


.footer-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.footer-link:hover {
    color: rgb(180,218,220);
}

.social-icons{
  padding-right:0.5em;
}

input, select, textarea {
    min-width: 20ch;
    padding: 1em;
    border: 1px solid rgb(180,218,220);
    border-radius: 0px;
}

.element, .m-element {
    margin-top: 1em;
    margin-left: 4em;
    margin-right:4em;
}

.banner-background{
   flex: 1 1 80%;
   text-align: right;
    margin: 1em;
}

p {
  text-align:left;
  margin-left:2rem;
  margin-right:2rem;
}

.promo-img{
min-width:100%;
width:300px;

}

button {
  padding:0.5rem;
  padding-left:3rem;
  padding-right:3rem;
  border:none;
  background-color:rgb(78,128,136);
  transition: 0.5s;
}

.promo-button{
  justify-content: flex-start;
}

button:hover, button:active{
  background-color:rgb(229,197,168);
}

.footer-link-group{
  flex:1 1 0;
    margin-left: 2em;
}

.footer-link-group h5 {
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
}

.banner-item{
  flex:1 1 0;
}
/* End Footer */

/* Payment Form */

form {
    margin: 1em 0;

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
}

.label-and-field {
    margin-top: 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    margin-right:1rem;
}


.shipping-form-col-1, .shipping-form-col-2, .shipping-form-col-3, .payment-form-col-1, .payment-form-col-2, .payment-form-col-3 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}

.save-button, .promo-button {
    align-self: flex-end;
    padding: 1rem 1rem 1rem 0;
    min-width: 10rem;
}

.save-button, .promo-button {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
}

.promo-button{
  justify-content: flex-start;
}

.margin-left {
    margin-left: 2em;
}

.menu-category {
    font-size: 1.2em;
}
