<<<<<<< HEAD
=======
body {
}

>>>>>>> michellebranch
/* NAVIGATION CSS */

.nav-items {
  background-color: rgb(180,218,220);
  height:80px;
<<<<<<< HEAD
}


=======
  position:sticky;
  top:0;
}

>>>>>>> michellebranch
.right-nav-items{
  display:flex;
  flex-grow:1;
  justify-content:flex-end;
  margin-right:1rem;
}

.center-align{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}

a.nav-left-link {
  text-decoration:none;
  font-weight:600;
  color:rgb(0,0,0);
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;

}

a.nav-left-link:hover{
  color:rgb(78,128,136);
}

<<<<<<< HEAD
=======
.nav-icon{
  display:flex;
}

>>>>>>> michellebranch
a.nav-right-link {
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;
  text-align:right;
}

a.nav-right-link:hover{
  border-bottom:2px solid rgb(78,128,136);
}

.search-bar{
<<<<<<< HEAD
=======
  display:flex;
>>>>>>> michellebranch
  padding-left:1rem;
}

.search-text{
  font-size:0.8rem;
  padding:0.8rem;
  border:none;
<<<<<<< HEAD
=======
  border-radius:15px 0px 0px 15px;

>>>>>>> michellebranch
}

.search-button{
  padding:0.35rem;
  border:none;
  background-color:rgb(255,255,255);
  transition:0.5s;
<<<<<<< HEAD
=======
  border-radius:0px 15px 15px 0px;
>>>>>>> michellebranch
}

.search-button:hover{
  background-color:rgb(78,128,136);
}

/* NAVIGATION CSS */

/*BANNER CSS */

.banner-img{
  width:100%;
  min-height: 150px;
  background-color:rgb(78,128,136);
}

/*BANNER CSS */

/* PROMOTIONS CSS */

.promotion-container{
<<<<<<< HEAD
  padding-top:2rem;
=======
>>>>>>> michellebranch
  padding-bottom:2rem;
}

.promotion-item{
  width:80%;
<<<<<<< HEAD
  height:400px;
  margin:auto;
  background-color:rgb(78,128,136);
  margin-top:2rem;

  /* PROMOTIONS ANIMATION CSS */
=======
  margin:auto;
  background-color:rgb(139,186,180);
  margin-top:2rem;
  align-content: :center;

  /* PROMOTIONS ANIMATION CSS */
  /* CSS ANIMATION TUTORIAL REFERENCED https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
>>>>>>> michellebranch
  animation: fadeIn ease-in 1s;
  -webkit-animation: fadeIn ease-in 1s;
  -moz-animation: fadeIn ease-in 1s;
  -o-animation: fadeIn ease-in 1s;
  -ms-animation: fadeIn ease-in 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.promtion-item.load{
  opacity:1;
}

<<<<<<< HEAD

/* PROMOTIONS CSS */
=======
.promotion-img {
  float:right;
  height:388px;
}

.promotion-bg{
  background-color: !important rgb(178,213,209);
}


.promo-header {
  font-size:1.6rem;
  padding-left:1.8em;
  padding-right:1.5rem;
  padding-top:4rem;
}

.promo-desc {
  padding-left:3rem;
  padding-right:6rem;
  font-size:1.2rem;
}

.cta {
  border:none;
  padding:0.8rem;
  padding-left:2rem;
  padding-right:2rem;
  margin-top:1rem;
  margin-left:3rem;
  margin-bottom:1.5rem;
  transition:0.5s;
  background-color: rgb(180,218,220);
  font-weight:bolder;

}

.cta:hover{
  background-color:rgb(78,128,136);
}

h2{
padding-top:1rem;
margin-left:6rem;
font-size:3rem;}

/* PROMOTIONS CSS */

/* FOOTER CSS */

footer {
  width:100%;
  background-color:rgb(237,242,242);
  bottom:0;
  padding:2rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.footer-link:hover {
    color: rgb(78,128,136);
}


/* FOOTER CSS */
>>>>>>> michellebranch
