*, *::after, *::before {
    box-sizing: border-box;
}

/* NAVIGATION CSS */
.nav-items, .promotion-container, .footer-menus{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
}

.left-nav-tems. .right-nav-items, .promotion-items{
  flex:1 1 0;
}



/* NAVIGATION CSS */
.right-nav-items, .promotion-items{
  flex:1 1 0;
}

/* NAVIGATION + PROMOTION CSS */

.footer-link-group{
  flex:1 1 0;
    margin-left: 2em;
}

.footer-link-group h5 {
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
}
