*, *::after, *::before {
    box-sizing: border-box;
}

/* NAVIGATION CSS */
.nav-items, .promotion-container, .footer-menus, .center-align, .center-align-footer, .left-nav-items, .right-nav-items, .footer-links-list {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}

.promotion-container, .footer-menus {
    flex-flow: row wrap;
}
    
.nav-right-link {
    flex: 1 1 10%;
    max-width: 70px;
}

.search-bar-and-button {
    display: inline-flex;
    max-width: 250px;
    margin: 0;
}

.left-nav-items {
    align-items: center;
}

.center-align-footer {
    display: flex;
    width: 100%;
}

/* NAV MENU MEDIA QUERIES*/

/* mobile */

@media screen and (max-width:425px) {
    
    .nav-items, .center-align, .center-align-footer, .right-nav-items, .left-nav-items, .right-nav-items {
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }
    
    .nav-left-link, .nav-right-link, .search-bar-and-button {
        flex: 1 1 auto;
        align-self: center;
        margin: 1em 0;
    }
    
    .nav-items {
        position: static;
    }
    
}

@media screen and (min-width:426px) and (max-width:767px) {
    
    .center-align {
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .nav-left-link, .nav-right-link, .search-bar-and-button {
        flex: 1 1 auto;
        align-self: center;
        margin: 1em 0;
    }
    
    .right-nav-items {
        margin: 0;
        flex-flow: row nowrap;
    }
    
    .nav-items {
        position: static;
        top: 0;
    }
    
}

@media screen and (max-width:767px) {
    
    .center-align-footer {
        flex-flow: column wrap;
        align-items: center;
    }
    
    .footer-link-group h5 {
        text-align: center;
    }
    
    .footer-links-list {
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    .footer-links-list a {
        flex: 1 1 auto;
        margin: 0 1em;
        text-align: center;
    }
    
}

/* tablet */

@media screen and (min-width:711px) {
    
    .right-nav-items, .search-bar-and-button {
        flex-flow: row nowrap;
        justify-self: flex-end;
    }
    
    .right-nav-items {
        flex: 1 1 auto;
        margin: 0;
        max-width: 290px;
        margin-right: 1rem;
    }
    
    .center-align {
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    
}

/* desktop */

@media screen and (min-width:768px) {
    
    .right-nav-items, .search-bar-and-button {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    
    .footer-link-group {
        flex:1 1 0;
        margin-left: 2em;
    }
    
    .center-align-footer {
        flex-flow: row wrap;
        align-items: flex-start;
    }
    
    .footer-link-group h5 {
        text-align: left;
        padding: 0;
        margin: 0 0 1em;
        font-size: 1em;
    }
    
    .footer-links-list {
        width: 100%;
        flex-flow: column wrap;
        justify-content: space-between;
    }
      
}

/* tablet and desktop */

@media screen and (min-width:711px) {
    
    .nav-items, .center-align {
        flex-flow: row wrap;
    }
    
    .nav-items {
        position: sticky;
        top: 0;
    }
    
}

.promotion-items{
  flex: 1 1 0;
}

/* NAVIGATION + PROMOTION CSS */

.copyright {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}