* {
    font-family: "Acumin Pro Light", "Akzidenz-Grotesk BQ Light", Helvetica, Arial, sans-serif;
}

h2.home-header {
    margin: 1em 2em 0;
    text-align: center;
}

/* NAVIGATION CSS */

.nav-items {
    background-color: rgb(180,218,220);
/*    height: 80px;*/
    /*position: sticky;*/
    padding: 1rem;
    box-shadow: 0 10px 20px rgb(78,128,136);
}

.right-nav-items{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 1rem;
}

.center-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

a.nav-left-link {
  text-decoration:none;
  font-weight:600;
  color:rgb(0,0,0);
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;

}

a.nav-left-link:hover{
  color: white;
}

.nav-icon{
  display:flex;
}

a.nav-right-link {
  transition:0.5s;
  padding-left:1rem;
  padding-right:1rem;
  text-align:right;
}

a.nav-right-link:hover{
  border-bottom: 2px solid rgb(78,128,136);
}

.search-bar{
    padding-left: 1rem;
}

.search-text{
  font-size: 0.8rem;
  padding: 0.8rem;
  border: none;
  border-radius:15px 0px 0px 15px;

}

.search-button{
  padding:0.35rem;
  border:none;
  background-color:rgb(255,255,255);
  transition:0.5s;
  border-radius:0px 15px 15px 0px;
}

.search-button:hover {
  background-color:rgb(78,128,136);
}

/* NAVIGATION CSS */


/*BANNER CSS */

.banner-img{
  width:100%;
  min-height: 150px;
  background-color:rgb(78,128,136);
}

/*BANNER CSS */

/* PROMOTIONS CSS */

.promotion-container{
  padding-top:2rem;
  padding-bottom:2rem;
}

.promotion-item{
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    background-color: rgb(78,128,136);
    margin-top: 2rem;

  /* PROMOTIONS ANIMATION CSS */
  margin: auto;
  background-color: rgb(139,186,180);
  margin-top: 2rem;
  align-content: center;

  /* PROMOTIONS ANIMATION CSS */
  /* CSS ANIMATION TUTORIAL REFERENCED https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
  animation: fadeIn ease-in 1s;
  -webkit-animation: fadeIn ease-in 1s;
  -moz-animation: fadeIn ease-in 1s;
  -o-animation: fadeIn ease-in 1s;
  -ms-animation: fadeIn ease-in 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.promtion-item.load{
  opacity:1;
}


/* PROMOTIONS CSS */
.promotion-img {
  float:right;
  height:388px;
}


.promo-header {
    font-size:1.6rem;
    padding-left:1.8em;
    padding-right:1.5rem;
}

.promo-desc {
  padding: 0 3rem;
    max-width: 45ch;
  font-size:1.2rem;
}

a.cta {
    border: none;
    padding: 1rem 3rem;
    margin: 2rem 3rem;
    margin-bottom: 1.5rem;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    background-color: rgb(180,218,220);
    font-weight: bold;
}

a.cta:hover{
    background-color:rgb(78,128,136);
    color: white;
}

@media screen and (max-width:48rem) {

    .cta {
        align-self:center;
        padding-left:7rem;
        padding-right:7rem;
    }    

}

h2 {
    /*padding-top:1rem;*/
    /*margin-left:6rem;*/
    font-size:2.75rem;
}

/* PROMOTIONS CSS */

/* FOOTER CSS */

footer {
  display: flex;
  width: 100%;
  background-color: white;
  bottom: 0;
  padding: 2rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.footer-link:hover {
    color: rgb(78,128,136);
}

/* FOOTER CSS */

.copyright {
    justify-content: center;
    font-size: 0.9em;
    padding: 0.5em;
    width: 100%;
}
