/* FLEXBOX SETTINGS */

.grid-container, .filter-checkbox-container, .checkbox-line, .filter-sidebar-box, .main-listings-box, .product-categories, .filter-category-box, .banner-with-title, .product-listing, .product-label-box, .copyright, .price {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
}

.filter-checkbox-container, .checkbox-line, .main-listings-box, .banner-with-title, .copyright, .price { 
    flex-flow: row wrap;
}

.product-listing, .product-label-box {
    flex-flow: column wrap;
}

/* EVERYTHING */

.grid-container {
    margin: 1em 1em;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

/* FILTER */

.filter-sidebar-box {
    flex: 1 1 10%;
    align-items: flex-start;
}

.filter-category-box{
    min-width: 20em;
}



/* LISTINGS GRID */

.main-listings-box {
    flex: 3 1 70%;
    justify-content: center;
}

/* MEDIA QUERIES */

@media(min-width:768px) {
    .grid-container { 
        flex-flow: row wrap;
    }
    
    .filter-category-box {
        flex-flow: column wrap;
    }
    
    .filter-sidebar-box {
        flex-flow: column wrap;
        align-self: flex-start;
        width: 10em;
        padding-left: 2em;
    }
    
    form.product-categories {
        flex-flow: column wrap;
    }
   
    /* .main-listings-box {
        border-left: 1px solid black;
    }*/
}

@media(max-width:767px) {
    .grid-container { 
        flex-flow: column wrap;
    }
    
    .filter-category-box {
        flex-flow: row wrap;
        align-items: center;
    }
    
    .filter-sidebar-box {
        flex-flow: row wrap;
        max-width: 100%;
        align-self: center;
    }
    
    .filter-sidebar-box h3, .filter-category-box h4 {
        margin-right: 1em;
    }
    
    form.product-categories {
        flex-flow: row wrap;
    }
}
