*, *::after, *::before {
    box-sizing: border-box;
}
/* Footer */
section.footer-menus, .banner-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
}

.footer-link-group{
  flex:1 1 0;
}

.banner-item{
  flex:1 1 0;
}
/* End Footer */

/* Payment Form */

form {
    margin: 1em 0;

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
}

.label-and-field {
    margin-top: 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    margin-right:1rem;
}


.shipping-form-col-1, .shipping-form-col-2, .shipping-form-col-3 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-flow: row wrap;
}

.save-button, .promo-button {
  align-self: flex-end;
  margin-bottom:2rem;
  padding:1rem;
}

.save-button, .promo-button {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: flex-end;
}

.promo-button{
  justify-content: flex-start;
  margin-left:1rem;
}
