* {
    font-family: "Acumin Pro Light", "Akzidenz-Grotesk BQ Light", Helvetica, Arial, sans-serif;
}

body {
    margin-bottom: 1em;
}

h1 {
    color: rgb(78,128,136);
}

p {
    max-width: 60ch;
    line-height: 1.4em;
    margin: 0;
}

.regular-p {
    margin-left: 2em;
}

.product-title {
    font-family: "Kazimir Medium", serif;
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 1.2em;
    color: black;
}

.price {
    font-family: "Kazimir Medium", serif;
    font-size: 1.1em;
    margin: 0.3em 0 0;
}

hr {
    margin: 0 1em;
    border: 1px solid rgb(180,218,220);
}

.nav-menu {
    margin-top: 1em;
}

a.nav-item {
    color: #000;
    text-decoration: none;
    border-top: 1px solid rgb(180,218,220);
    border-bottom: 1px solid rgb(180,218,220);
}

.list-menu {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: column wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    
    margin-left: 2em;
    line-height: 2em;
}

.list-menu a {
    color: #000;
    text-decoration: none;
    background-color: rgb(180,218,220);
    padding: 1em;
    max-width: 15em;
    margin-bottom: 1em;
}

.list-menu a:hover {
    color: white;
    background-color: rgb(78,128,136);
}


a.nav-item-addon {
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

a.text-link {
    color: rgb(180,218,220);
}

a:active, a:focus, a:hover, #current {
    color: rgb(180,218,220);
}

ul, ol {
    list-style: none;
    line-height: 1.6em;
}

ol {
    counter-reset: li;
}

ul li::before {
    content: "\2022";
    color: rgb(180,218,220);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ol li::before {
    content: counter(li);
    color: rgb(180,218,220);
    width: 1em;
    display: inline-block;
    margin-left: -1em;
}

li {
    counter-increment: li;
}

#current {
    border-top: 1px solid rgb(180,218,220);
    border-bottom: 1px solid rgb(180,218,220);
}

.logo {
    background-color: rgb(235,208,184);
}

code {
    //* background-color: rgb(237,244,243);
    //* border-left: 1em solid rgb(78,128,136); *//
    overflow: auto;
}

.element {
    border: 1px solid rgb(78,128,136);
}

.element-child, .element-label, .color-label {
    padding: 1em;
    justify-content: center;
}

.element-label {
    color: white;
    width: 100%;
    margin: 0;
    align-self: flex-start;
    background-color: rgb(78,128,136);
}

.module-code {
    height: 6em;
    overflow: auto;
    
}

.grid-code {
    height: 6em;
    overflow: auto;
}

button {
    border: 0px;
    padding: 1em;
    margin: 1em;
    color: white;
    background-color: rgb(180,218,220);
}

.reset, .reset:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid transparent;
}

.reset:hover {
    border: 1px solid black;
}

.submit {
    background-color: rgb(180,218,220);
    color: black;
}

.submit:hover, .cta:hover {
    background-color: rgb(78,128,136);
    color: white;
}

input, select {
    min-width: 20ch;
    padding: 1em;
    border: 1px solid rgb(180,218,220);
    border-radius: 0px;
}

input:focus {
    border: 1px solid black;
}

.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.color-square-1, .color-square-2, .color-square-3, .color-square-4 {
    height: 6em;
}

.color-square-1 {
    background-color: rgb(235,208,184);
}

.color-square-2 {
    background-color: rgb(180,218,220);
}

.color-square-3 {
    background-color: rgb(78,128,136);
}

.color-square-4 {
    background-color: #fff;
    border: 1px solid #f9f9f9;
}

.color-label {
    color: black;
    max-width: 100%;
    margin: 0;
    text-align: center;
    background-color: #f9f9f9;
}