* {
    font-family: "Acumin Pro Light", "Akzidenz-Grotesk BQ Light", Helvetica, Arial, sans-serif;
}

body {
    margin-bottom: 1em;
}

<<<<<<< Updated upstream
=======
/* Main dropdown menu styling */

#main-menu {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(229, 197, 168);
    justify-content: center;
}

.dropbtn {
    font-family: "Acumin Pro SemiBold", "Akzidenz-Grotesk BQ SemiBold", Helvetica, Arial, sans-serif;
    letter-spacing: 0.08em;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    background-color: transparent;
    color: black;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 2em;

}

.dropdown-content {
    display: none;
    left: 0;
    top: 100%;
    position: absolute;

    background-color: rgb(224,242,247);
    width: 100%;

    flex-flow: row wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;

    justify-content: space-around;

    padding: 4em 20%;
}

.dropdown-content a {
  text-decoration: none;
  display: flex;
    padding: 0.25em 0;
}

.dropdown-content a:hover {
    background-color: rgb(224,242,247);
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  border-bottom: 8px solid white;
}

/* Menues */


.nav-item {
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.05em;
    padding: 2em 3em;
    margin: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.nav-item:hover, .nav-item:active, #current:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 8px solid white;
}


#current {
    border-bottom: 8px solid transparent;
}

.dropdown-col a{
    color: black;
    line-height: 2em;
    text-decoration: none;
    font-size: 0.9em;
}

.dropdown-col a:hover, .dropdown-col a:active {
    color: rgb(78,128,136);
    text-decoration: none;
    font-size: 0.9em;
}

.dropdown-col h3 {
    color: rgb(78,128,136);
    margin: 0 0 0.5em;
}

/* Banner */

.banner-cup img {
    max-height: 30em;
}


/* Text selectors */

>>>>>>> Stashed changes
h1 {
    font-family: "Kazimir Medium", serif;
    color: rgb(235,208,184);
}

h2 {
    font-family: "Kazimir Medium", serif;
}

h3, h4 {
    font-family: "Acumin Pro Extra Light", "Akzidenz-Grotesk BQ Light", Helvetica, Arial, sans-serif;
}

p {
    max-width: 60ch;
    line-height: 1.4em;
}

.regular-p {
    margin-left: 2em;
}

.product-title {
    font-family: "Kazimir Medium", serif;
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 1.2em;
    color: black;
}
<<<<<<< Updated upstream
=======
.summary-product-title {
    margin: 0;
    font-weight: 100;
    font-size: 1.3em;
}
>>>>>>> Stashed changes

.price {
    font-family: "Kazimir Medium", serif;
    font-size: 1.1em;
    margin: 0.3em 0 0;
}

hr {
    margin: 0 1em;
    border: 1px solid rgb(180,218,220);
}

<<<<<<< Updated upstream
/*
.nav-item-img {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: transparent url("file:///F:/SFU/Year%204/IAT%20339/Assignments/P01/img/cart-sprite.svg") no-repeat 0 0;
=======
.product-hr {
    border: 1px solid black;
    max-width: 65ch;

    margin: 0.5em 0 0;
}

.nav-menu {
    margin-top: 1em;
}

.links-list, .filter-box {
    line-height: 2em;
    padding: 0 2em 1em;
>>>>>>> Stashed changes
}
*/

a.nav-item {
    color: #000;
    text-decoration: none;
    border-top: 1px solid rgb(180,218,220);
    border-bottom: 1px solid rgb(180,218,220);
}

.list-menu {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: column wrap;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    
    margin-left: 2em;
    line-height: 2em;
}

.list-menu a {
    color: #000;
    text-decoration: none;
    background-color: rgb(180,218,220);
    padding: 1em;
    max-width: 15em;
    margin-bottom: 1em;
}

.list-menu a:hover {
    color: white;
    background-color: rgb(78,128,136);
}


a.nav-item-addon {
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

a.text-link {
    color: rgb(180,218,220);
}

a:active, a:focus, a:hover, #current {
    color: rgb(180,218,220);
}

ul, ol {
    list-style: none;
    line-height: 1.6em;
}

ol {
    counter-reset: li;
}

ul li::before {
    content: "\2022";
    color: rgb(180,218,220);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ol li::before {
    content: counter(li);
    color: rgb(180,218,220);
    width: 1em;
    display: inline-block;
    margin-left: -1em;
}

li {
    counter-increment: li;
}

#current {
    border-top: 1px solid rgb(180,218,220);
    border-bottom: 1px solid rgb(180,218,220);
}

.logo {
    background-color: rgb(235,208,184);
}

code {
    background-color: rgb(237,244,243);
    border-left: 1em solid rgb(78,128,136);
    height: 6em;
    overflow: auto;
}

<<<<<<< Updated upstream
.module-code {
    height: 6em;
    overflow: auto;
=======
.element {
    border: 1px solid rgb(78,128,136);
}

.element-child, .element-label, .color-label {
    padding: 1em;
    justify-content: center;

}

.element-child-2 {
    justify-content: center;
}

.element-label {
    color: white;
    width: 100%;
    margin: 0;
    align-self: flex-start;
    background-color: rgb(78,128,136);
}

.module-code {
    height: 6em;
    overflow: auto;

>>>>>>> Stashed changes
}

.grid-code {
    height: 6em;
    overflow: auto;
}

button {
    border: 0px;
    padding: 1em;
    color: white;
    background-color: rgb(180,218,220);
}

.reset, .reset:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid transparent;
}

.reset:hover {
    border: 1px solid black;
}

.submit {
    background-color: rgb(180,218,220);
    color: black;
}

.submit:hover, .cta:hover {
    background-color: rgb(78,128,136);
    color: white;
}

input, select {
    min-width: 20ch;
    padding: 1em;
    border: 1px solid rgb(180,218,220);
    border-radius: 0px;
}

input:focus {
    border: 1px solid black;
}

.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#color-1 {
    background-color: rgb(235,208,184);
}

#color-2 {
    background-color: rgb(180,218,220);
}

#color-3 {
    background-color: rgb(78,128,136);
}

#color-4 {
    background-color: #fff;
    border: 1px solid black;
}
